<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupy</title>
        {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'index/index.css' %} "
    />
      <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'show_groups/show_groups.css' %} "
    />
</head>
<body>
    <div class="container">
        {% for group_data in teams_by_group %}
            <div class="group">
                <h2>Grupa {{ group_data.group.Nazwa_grupy }}</h2>
                {% for team in group_data.teams %}
                    <div class="team">
                        <p>{{ team.Nazwa_druzyny }}</p>
                    </div>
                {% empty %}
                    <p>Brak druzyny</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>