
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('euro2024backround.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}


.center-panel {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
}


a {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #3e8e41;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 50px;
  z-index: 1;
}



.menu {
  padding-bottom: 50px;
}



h1 {
  text-align: center;
  margin-top: 20px;
}



form, .match-details {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.match-details {
  text-align: center;
}

.match-details h2 {
  margin-top: 20px;
}



p {
  margin: 5px 0;
}



button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 600px) {
  .center-panel, form, .match-details {
    width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    font-size: 14px;
  }

  footer {
    font-size: 0.8rem;
  }
}
