<!DOCTYPE html>
<html>
<head>
    <title>Dodaj Statystyki Meczu</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'index/index.css' %} "
    />
</head>
<body>
    <h1>Dodaj Statystyki Meczu</h1>
    <form method="post">
        {% csrf_token %}
        <p>ID_Meczu: {{ form.ID_Meczu }}</p>
        <p>Posiadanie_pilki_gospodarzy: {{ form.Posiadanie_pilki_gospodarzy }}</p>
        <p>Posiadanie_pilki_gosci: {{ form.Posiadanie_pilki_gosci }}</p>
        <p>Strzaly_gospodarzy: {{ form.Strzaly_gospodarzy }}</p>
        <p>Strzaly_gosci: {{ form.Strzaly_gosci }}</p>
        <p>Strzaly_celne_gospodarzy: {{ form.Strzaly_celne_gospodarzy }}</p>
        <p>Strzaly_celne_gosci: {{ form.Strzaly_celne_gosci }}</p>
        <p>Zolte_kartki_gospodarzy: {{ form.Zolte_kartki_gospodarzy }}</p>
        <p>Zolte_kartki_gosci: {{ form.Zolte_kartki_gosci }}</p>
        <p>Czerwone_kartki_gospodarzy: {{ form.Czerwone_kartki_gospodarzy }}</p>
        <p>Czerwone_kartki_gosci: {{ form.Czerwone_kartki_gosci }}</p>  
        <button type="submit">Zapisz</button>
    </form>
</body>
</html>
